$text: #e1e1ef;
$background: #050531;
$primary: #7a7a7f;
$secondary: #141424;
$accent: #59aa59;
$spreader: #cfcf37;
$box-size: 10px;
$header-bg: #333;
$header-text: #fff;
$reset-bg: #d35454;

body{
    background: $background;
    color: $text;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $background;
  border-bottom: 1px solid $primary;
  color: $header-text;
  padding: 10px;

  h1 {
    margin: 1;
  }

  #level-display {
    font-size: 20px;
  }
}

@mixin box-shape{
    width: $box-size;
    height: $box-size;
    box-sizing: border-box;
    border-radius: 10px;
}

#box_container {
    display: grid;
    grid-template-columns: repeat(2, $box-size);
    grid-template-rows: repeat(2, $box-size);
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    position: relative;

    .box {
        @include box-shape;
        background: $primary;
        transition: background 0.5s ease;

        &:hover {
            background: $accent;
        }

        &.clicked {
            @extend .box;
            background: $accent;
            animation: click-animation 0.3s ease;
        }
    }

    @keyframes click-animation {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
        }
        100% {
            transform: scale(1);
        }
    }

    .spreader {
        background: $spreader;
    }

    .clear-box {
        @include box-shape;
        background: $background;
    }
}

#control {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 1;

    #reset {
        background: $reset-bg;
        color: #fff;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        padding: 10px;
        margin-left: 20px;
        cursor: pointer;
        transition: background 0.2s ease-in-out;
        z-index: 1;

        &:hover {
            background: red;
        }
    }
}

#level-info {
    display: grid;
    grid-template-columns: repeat(2, $box-size + 100px);
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    padding-top: 2%;
    padding-right: 15%;
    position: relative;
  
    p {
      margin: 0;
      font-size: 18px;
    }
  
    span {
      font-weight: bold;
    }
  }

#select-wrapper {
    display: none;
}